@page "/manager/tours/{tourId:guid}"
@model Application.Pages.Manager.TourDetails

<style>
        .img-container {
            position: relative;
            padding-bottom: 100%;
            /* 1:1 Aspect Ratio */
        }

        .img-container img {
            position: absolute;
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
        
        .schedule-container {
            max-height: 600px;
            overflow-y: auto;
        }
    </style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/manager/home" style="text-decoration: none">Tours</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Tour.Id</li>
    </ol>
</nav>

<hr/>

<div style="width: 30%; padding: 24px; margin-bottom: 20px; background-color: #b6d4fe; border-radius: 8px">
    <label class="form-label" for="tourImport">
        <h5>Import Trip:</h5>
    </label>

    <!-- File Import Form -->
    <form method="post" enctype="multipart/form-data" class="input-group flex-row justify-content-start">
        <input type="file" accept=".zip" asp-for="ImportFile"
               class="form-control" id="tourImport" style="margin-right: 8px"/>
        <button class="btn btn-success" type="submit">Import</button>
    </form>

    @if (Model.ErrorMessage is "")
    {
        <b style="color: green">Import success !</b>
    }
    else if (Model.ErrorMessage?.Length > 0)
    {
        <b style="color: red">Error: @Model.ErrorMessage</b>
    }

    <br/>
    <a href="/trips/import/sample">Download Sample</a>

</div>

<!-- Trips Table -->
<div class="col col-md-6">
    <h4>Trips: </h4>
    <!-- Table -->
    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table table-bordered" style="white-space: nowrap;">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>StartTime</th>
                    <th>EndTime</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- Table Data -->

                @foreach (var trip in Model.Trips)
                {
                    <tr>
                        <td>@trip.Id</td>
                        <td>@trip.Code</td>
                        <td>@DateOnly.FromDateTime(trip.StartTime)</td>
                        <td>@DateOnly.FromDateTime(trip.EndTime)</td>
                        <td>
                            <a href="/manager/trips/@trip.Id">
                                <button class="btn btn-outline-primary">
                                    <i class="bi bi-eye-fill"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <button onclick="deleteTrip('@trip.Id', '@trip.Code', '@DateOnly.FromDateTime(trip.StartTime)', '@DateOnly.FromDateTime(trip.EndTime)')" type="button" class="btn btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>

<hr/>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="background-color: #f8f9fa; padding: 20px">
                <!-- Thumbnail Image -->
                <img src="@Model.Tour.ThumbnailUrl" alt="Tour Thumbnail"
                     style="max-height: 200px; object-fit: contain; margin-bottom: 12px">

                <div >
                    <!-- Tour ID -->
                    <p>
                        <strong>ID: <span style="color: #40916c">@Model.Tour.Id.ToString().ToUpper()</span></strong>
                    </p>

                    <!-- Tour Title -->
                    <p>
                        <strong>Title: <span class="card-title" style="color: #3f37c9">@Model.Tour.Title</span></strong>
                    </p>

                    <!-- Tour Type and Duration -->
                    <p><strong>Type & Duration:</strong> @Model.Tour.Type (@Model.Tour.Duration)</p>

                    <!-- Departure and Destination Location -->
                    <p><strong>Departure & Destination:</strong> @Model.Tour.Departure / @Model.Tour.Destination</p>

                    <!-- Tour Description -->
                    <p>
                        <strong>Description:</strong> @Model.Tour.Description
                    </p>

                    <!-- Tour Created At -->
                    <p>
                        <strong>Created At:</strong> @Model.Tour.CreatedAt
                    </p>
                </div>
            </div>
        </div>

        <div class="schedule-container col-md-6">
            <div class="row">

                @foreach (var group in Model.ScheduleGroups)
                {
                    <div class="col-md-12 mb-4">
                        <h5 style="color: #1b6ec2">Day @group.Key: </h5>
                        <div class="day-container">
                            <ul class="list-group">
                                @foreach (var schedule in group)
                                {
                                    <li class="list-group-item">
                                        <b>@schedule.Sequence.</b> @schedule.Description
                                        <br/>
                                        <b style="color: #0c63e4">@schedule.Vehicle</b>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>

    <div class="container mt-5">
        <div class="row">
            @foreach (var image in Model.Tour.Carousel)
            {
                <div class="col-md-3">
                    <div class="img-container">
                        <img src="@image.Url" alt="@image.Id">
                    </div>
                </div>
            }
        </div>
        <!-- Add more rows as needed -->
    </div>

</div>

<script>
    function deleteTrip(id, code, startDate, endDate) {
        console.log(id);
        Swal.fire({
            title: `Delete Trip ${code} ?`,
            text: `${startDate} - ${endDate}`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                let baseURL = window.location.origin;
                window.location.href = baseURL + `/manager/trips/${id}?handler=deleteTrip`;
            }
        })
    }
</script>